@import './variable';
//reset
* {
  box-sizing: border-box;
  outline   : none;
}

html {
  font-size: 13px;
}

body {
  margin     : 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background : #F1F1F1;
  
}

a {
  color: #999;
}


@each $colorKey,$color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
}


//text align
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}


@each $sizeKey,$size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size*$base-font-sizes;
  }
}



//button
.btn{
  border: none;
  height: 1.769rem;
  font-size: map-get($font-sizes , 'sm' );
  border-radius: 0.153rem;
}

//flex
.d-flex{
  display: flex;
}



.flex-column{
  flex-direction: column;
}
.flex-warp{
  flex-wrap: wrap;
}

@each $key,$val in $flex-jc {
  .jc-#{$key}{
    justify-content:$val;
  }
}

@each $key,$val in $flex-ai {
  .ai-#{$key}{
    align-items:$val;
  }
}

.flex-1{
  flex: 1;
}


  @each $typeKey,$type in $spacing-types {
   //.m-1
   @each $sizeKey,$size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey}{
      #{$type} :$size*$spacing-base
     };
  }
  //.mx-1
  @each $sizeKey,$size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey}{
      #{$type}-left :$size*$spacing-base;
      #{$type}-right :$size*$spacing-base
     };
  }
   //.my-1
   @each $sizeKey,$size in $spacing-sizes {
    .#{$typeKey}y-#{$sizeKey}{
      #{$type}-top :$size*$spacing-base;
      #{$type}-bottom :$size*$spacing-base
     };
  }

    //.mt-1
    @each $directionkey,$direction in $spacing-directions {
        @each $sizeKey,$size in $spacing-sizes {
          .#{$typeKey}#{$directionkey}-#{$sizeKey}{
            #{$type}-#{$direction}:$size*$spacing-base
           }
        }
    }
  }

//nav
.nav{
  .nav-item{
    border-bottom: 0.230rem solid transparent;
    padding-bottom: 0.2rem;
    &.active{
      border-bottom: 0.230rem solid #fff;
    }
  }

}

 //width  height
 .w-100{
   width: 100%;
 }
 .h-100{
   height: 100%;
 }

 //sprite
 .sprite{
   background: url(./assets/sprite/index.png) no-repeat 0 0;
   background-size:28.846rem 35rem;
   display: inline-block;
   &.sprite-news{
    width: 1.769rem;
    height: 1.538rem;
    background-position: 63.546% 15.517%;
   }
   &.sprite-story{
    width: 1.769rem;
    height: 1.538rem;
    background-position: 90.483% 15.614%;
   }
   &.sprite-shopping{
    width: 1.461rem;
    height: 1.692rem;
    background-position: 36.746% 0.924%;
   }
   &.sprite-experience-clothing{
    width: 1.538rem;
    height: 1.538rem;
    background-position:10.408% 15.517%;
   }
   &.sprite-new-people{
    width: 1.538rem;
    height: 1.615rem;
    background-position: 89.733% 1.266%;
   }
   &.sprite-inherit{
    width: 1.846rem;
    height: 1.538rem;
    background-position:  36.467% 15.287%;
   }
   &.sprite-camp{
  	width: 24px;
	  height: 24px;
    background-position: 63.3% 0.927%;
   }
   &.sprite-official-account{
    width: 1.846rem;
    height: 1.538rem;
    background-position:0 96.207%;
   }
   &.sprite-pack-up{
    width: 0.769rem;
    height: 0.769rem;
    background-position:38.577% 52.076%;
   }
 }