//reset
* {
  box-sizing: border-box;
  outline   : none;
}

html {
  font-size: 13px;
}

body {
  margin     : 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background : #F1F1F1;
  
}

a {
  color: #999;
}

//colors
$colors:("primary":#db9e3f,
  "white":#fff,
  "black":#000,
  "dark":#222,
  "grey":#999,
  "ligit":#f9f9f9,
  "dark-1":#343440
  );
@each $colorKey,$color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
}


//text align
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var;
  }
}

//font size
$base-font-sizes:1rem;
$font-sizes :(
  xs:0.769, //10px
  sm :0.923, //12px,
  md:1, //13px
  lg:1.076, //14px
  xl:1.230 //16px
);
@each $sizeKey,$size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size*$base-font-sizes;
  }
}

//button
.btn{
  border: none;
  height: 1.769rem;
  font-size: map-get($font-sizes , 'sm' );
  border-radius: 0.153rem;
}

//flex
.d-flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

$flex-jc:(
  start:flex-start,
  end:flex-end,
  center:center,
  between:space-between,
  around:space-around
);
@each $key,$val in $flex-jc {
  .jc-#{$key}{
    justify-content:$val;
  }
}

$flex-ai:(
  start:flex-start,
  end:flex-end,
  center:center,
  stretch:stretch
);
@each $key,$val in $flex-ai {
  .ai-#{$key}{
    align-items:$val;
  }
}

.flex-1{
  flex: 1;
}

//spacing
$spacing-types:(m:margin,p:padding);
$spacing-directions:(t:top,r:right,l:left,b:bottom);
$spacing-base:1rem;
$spacing-sizes:(
  0:0,
  1:0.25,
  2:0.5,
  3:1,
  4:1.5,
  5:3
  );
  @each $typeKey,$type in $spacing-types {
   //.m-1
   @each $sizeKey,$size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey}{
      #{$type} :$size*$spacing-base
     };
  }
  //.mx-1
  @each $sizeKey,$size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey}{
      #{$type}-left :$size*$spacing-base;
      #{$type}-right :$size*$spacing-base
     };
  }
   //.my-1
   @each $sizeKey,$size in $spacing-sizes {
    .#{$typeKey}y-#{$sizeKey}{
      #{$type}-top :$size*$spacing-base;
      #{$type}-bottom :$size*$spacing-base
     };
  }

    //.mt-1
    @each $directionkey,$direction in $spacing-directions {
        @each $sizeKey,$size in $spacing-sizes {
          .#{$typeKey}#{$directionkey}-#{$sizeKey}{
            #{$type}-#{$direction}:$size*$spacing-base
           }
        }
    }
  }